.container1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1 > * {
  margin: 10px;
  flex: 1;
  min-width: 400px;
  max-width: 400px;
}

@media (max-width: 1300px) {
  .container1 {
    justify-content: space-evenly;
  }
}

@media (max-width: 464px) {
  .container1 > * {
    margin: 10px;
    flex: 1;
    min-width: 280px;
    max-width: 280px;
  }
}
@media (max-width: 342px) {
  .container1 > * {
    margin: 10px;
    flex: 1;
    min-width: 220px;
    max-width: 220px;
  }
}
